.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    color: black;
    z-index: 1;
    visibility: hidden;
  }
  
  .modal_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
  
  .modal__content {
    position: relative;
    padding: 0;
    margin: 0;
    width: 496px;
    height: 436px;
    background-color: white;
    border-radius: 20px;
  }
  
  .modal__form {
    box-sizing: border-box;
    padding-left: 28px;
    padding-right: 28px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .modal__title {
    margin-top: 28px;
    margin-bottom: 0;
    padding-left: 28px;
    width: 118px;
    font-weight: 700;
  }
  
  .modal__close {
    background: url(../../assets/close-icon.svg) center no-repeat;
    color: #ffffff;
    border: none;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    right: 28px;
    cursor: pointer;
  }
  
  .modal__label {
    position: relative;
    display: block;
    max-width: 440px;
    height: 52px;
    margin-top: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00000080;
    padding: 0;
    font-weight: 700;
  }
  
  .modal__picture-container-title {
    color: white;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  
  .modal__input {
    padding: 0;
    text-align: start;
    width: 440px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin-top: 10px;
    width: 100%;
  }
  
  .modal__input:focus {
    outline: none;
  }
  
  input::-webkit-input-placeholder {
    color: #00000080;
    font-size: 16px;
  }
  
  input::-moz-placeholder {
    color: #00000080;
    font-size: 16px;
  }
  
  input::-ms-input-placeholder {
    color: #00000080;
    font-size: 16px;
  }
  
  .modal__radio-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    height: 108px;
    border: none;
    padding: 0;
  }
  
  .modal__legend {
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 20px;
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  }
  
  .modal__label_type_radio {
    margin-top: 8px;
  }
  
  .modal__label_type:first-of-type {
    margin-top: 0;
  }
  
  .modal__form-button {
    width: 124px;
    height: 36px;
    background-color: #0000004d;
    color: #ffffff;
    margin-top: 32px;
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal__radio-input {
    margin-right: 11px;
    accent-color: #000000;
  }