.page {
    background-color: #f3f3f3;
    position: relative;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.page__content {
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    color: black;
    font-weight: 700;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 420px) {
    .page {
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 20px;
        padding-top: 18px;
    }
    .page__content {
        
    }
}