.cards {
    margin-top: 20px;
    justify-content: center;
  }
  
  .cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 323px);
    list-style-type: none;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
  }
  
  @media screen and (max-width: 420px) {

  

  }