/* .page__content {
  max-width: 1360px;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding-left: 40px;
  padding-right: 40px;
}

.sidebar {
  display: flex;
  gap: 15px;
  margin-right: 116px;
}
.sidebar__username {
  display: inline-block;
  margin-top: 10px;
  width: 140px;
  font-weight: 700;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.sidebar__info,
.sidebar__logout {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: none;
  margin-right: 20px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.sidebar__info {
  margin-top: 8px;
} */

.sidebar {
  display: flex;
  gap: 16px;
  width: 230px;
  flex-wrap: wrap;
  max-height: 138px;
}

.sidebar__user {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 30px;
}

.sidebar__username {
  font-size: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  margin: 16px 0 0;
}

.sidebar__info,
.sidebar__logout {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: none;
  margin-right: 20px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.sidebar__info {
  margin-top: 8px;
}