.footer {
    display: flex;
    height: 112px;
    justify-content: space-between;
    align-items: end;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    position: relative;
    margin-top: auto;
    box-sizing: border-box;
  }
  
  .footer__copyright {
    margin: 0;
  }
  
  .footer__year {
    margin: 0;
  }
  
  @media screen and (max-width: 420px) {

  }